
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/scss/bootstrap';

.container {
  table {
    tbody {
      tr {
        th, td {
          display: table-cell;
          padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        }
      }
    }
  }
}
.navbar {
  &.navbar-expand-md {
    .navbar-nav {
      .nav-item {
        &.spacer {
          width: 0.8rem;
        }
        &.lang-switch {
          position: absolute;
          right: 1.0rem;
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;

          .nav-link {
            display: inline-block;
            clear: none;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
            &.active {
              font-weight: bold;
            }
            &.pipe {
              text-align: center;
              margin-left: 0.2rem;
              margin-right: 0.2rem;
              padding-left: 0;
              padding-right: 0;
            }
          }
          .nav-link:last-child {
            &.pipe {
              display: none;
            }
          }
        }
      }
    }
  }
}
.fas {
  color: #81c91d;
  font-size: 1.5rem;
  margin-left: 1.0rem;
}
.small {
  .fas {
    color: inherit;
    font-size: 1.0rem;
    //margin-left: 1.0rem;
  }
}
